body{
    background-color: #0F0F16;
    font-family: Tahoma;
}

h1{
    font-size: 40px;
    text-align: center;
    color: #998EEE;
}

span{
    color: #E6E6E6;
}

p{
    text-align: center;
    color: #70747F;
}

form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em 0px;
    color: white;
}

fieldset{
    border:none;
    padding: 5px;
}

label {
  display: block;
  padding: 5px 0;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline, .options {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"]{
    display: block;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    color: black;
    background-color: #ffffff;
    border-radius: 20px;
    min-width: 300px;
}
